/* Resets and Variables */

/* Variables */

:root{
    font-family: 'Manrope', sans-serif;
    font-size: 0.8125rem;
    --fw-regular: 500;
    --fw-bold: 700;

    --vd-gray-blue: hsl(217, 19%, 35%);
    --dd-blue: hsl(214, 17%, 51%);
    --gray-blue: hsl(212, 23%, 69%);
    --l-gray-blue: hsl(210, 46%, 95%);
}

/* Resets */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

img,
svg {
    max-width: 100%;
    display: block;
}

p,
h1,
h2 {
    word-wrap: break-word;
    line-height: 1.4;
}

/* Utility classes */

.rounded-borders{
    border-radius: 50%;
}

/* General Styles */

body {
    background-color: var(--l-gray-blue);
    display: grid;
    grid-template-columns: 86.5%;
    place-content: center;
    
}

main {
    background-color: #fff;
    overflow: hidden;
    border-radius: .75rem;
    display: grid;
    height: 40rem;
    grid-template-columns: 100%;
    grid-template-rows: 37.5% 62.5%;
}

p {
    font-weight: 500;
    color: var(--dd-blue);
}

@media (min-width: 50em) {
    main {
        max-width: 56rem;
        max-height: 22rem;
        margin: auto;
        grid-template-rows: 100%;
        grid-template-columns: 45% 55%;
    }
}

/* Specific Styles */

main .wrapper {
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 2rem;
}

main .img{
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .wrapper .text {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

main .wrapper .text .header {
    color: var(--vd-gray-blue);
    font-weight: 700;
    font-size: 1.25rem;
}

main .wrapper .social-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

main .wrapper .social-info .share-btn:focus {
    
}

main .wrapper .social-info::after {
    position: absolute;
    content: "";
}

main .wrapper .social-info .social-text .name {
    color: var(--vd-gray-blue);
    font-weight: 700;
}

main .wrapper .social-info .profile-img {
    width: 3rem;
}

main .wrapper .social-info .share-btn {
    background-image: url(./images/icon-share.svg);
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-left: 3rem;
}

main .wrapper .social-info .share-btn:hover {
    cursor: pointer;
}

@media (min-width: 50em) {
    main .wrapper {
        padding-block: 1.5rem;
    }

    main .wrapper .text {
        padding-right: 1rem;
    }

    main .wrapper .text .header {
        font-size: 1.35rem;
    }
}